{%extends 'base.html'%}{%block content%}
<!-- Header-->
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">About Us</h1>
      <p class="lead fw-normal text-white-50 mb-0">Welcomme to django ecomerace</p>
    </div>
  </div>
</header>
<div class="container">
  <div class="row">
    <center>
      <div class="col-8">
        <br /><br />
        <p align="justify">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          dapibus mattis ligula sit amet lacinia. Integer molestie imperdiet
          pretium. In ultrices eros lectus, a imperdiet nulla venenatis nec. Sed
          ullamcorper consequat velit, at iaculis lacus interdum ut. Ut sodales
          justo a ex bibendum lobortis. Nam tempus tellus at felis pretium
          varius. Aliquam luctus mi metus, quis imperdiet elit blandit quis.
          <br /><br />

          Aenean mauris arcu, efficitur non vestibulum eget, cursus eu nunc.
          Proin risus massa, ultrices sit amet imperdiet vitae, sodales quis
          nisl. Maecenas sed fermentum nisi, vel rhoncus lectus. Morbi viverra
          eget diam at rutrum. Mauris sed tincidunt orci. Aliquam rutrum justo
          eleifend, ultrices magna vel, ultrices lorem. Praesent a eros eget sem
          facilisis interdum. Donec auctor sodales dictum. In nisl mi, laoreet
          non euismod sit amet, convallis at elit. <br /><br />

          Ut eget euismod ex. Suspendisse hendrerit, erat nec tincidunt
          tristique, justo eros laoreet urna, eu vestibulum mauris mauris sit
          amet justo. Nam justo purus, rhoncus vel arcu et, lobortis facilisis
          purus. Maecenas eu elit suscipit, imperdiet erat et, tristique tortor.
          Vestibulum turpis lorem, accumsan quis commodo quis, consectetur vitae
          nisl. In rhoncus eget lacus eu eleifend. Sed sit amet ante efficitur,
          gravida nibh tincidunt, laoreet elit. Sed id quam id leo tempor
          sodales a id enim. Duis convallis scelerisque nisl, a dignissim nunc
          ornare a. Nulla at ligula euismod, semper elit nec, scelerisque
          tellus. Nunc molestie, ligula bibendum elementum convallis, justo mi
          convallis dolor, et consequat tortor mauris sed lorem. Nullam at
          turpis feugiat libero malesuada fermentum in vel justo. Aenean vitae
          justo lorem. Fusce porta massa erat, ut finibus tortor imperdiet vel.
          Pellentesque maximus, dolor sit amet sodales porttitor, diam est
          tincidunt dolor, ut luctus sem metus sed metus. <br /><br />
        </p>
      </div>
    </center>
  </div>
</div>
{%endblock%}
